<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>...</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="/styles.css" type="text/css"/> 
</head>

<body>
    <div class="container-primary">
        <div style="display: inline; flex-flow: row wrap;"> 
            <br><br>
            <h1 style="text-align: center;">APP TITLE</h1>

            <div class="h-spacer20"></div> <div class="h-spacer20"></div>

            <div class="row" style="display: flex;">
                <button id="btn_modal_add">+ Add New Movie</button> 
                <span style="border-left: 3px solid black; margin-right: 3px; margin-left: 3px;"></span>
                <button id="btn_modal_report">Generate Report</button>
                <div style="flex:2">
                    <input id="rep_genre" style="width: 100%; margin:3px;" placeholder="Enter Genre" type="text"></div>
                <div style="flex:1">
                    <input id="rep_year" style="width: 100%; margin:3px;" placeholder="Enter Year" type="text"></div>
                <div style="flex:2">
                    <input id="rep_director" style="width: 100%; margin:3px;" placeholder="Enter Director" type="text"></div>
            </div>

            <hr class="solid" style="margin-top: 5px;margin-bottom: 3px;border-color: #b9b9b9;">

            <div class="row" style="display: flex; width: 800px; ">

                <button id="btn_search" style="margin:3px;">Search</button>

                <select id="search_field" style="margin:3px;">
                    <option value="name">Movie Name</option>
                    <option value="director">Director</option>
                    <option value="year">Year</option>
                    <option value="rank">Rank</option>
                    <option value="genre">Genre</option>
                </select>

                <div style="flex:1"><input id="search_value" style="width: 100%; margin:3px;" type="text"></div>
            </div>
            <button id="btn_demo" style="margin: 3px;">Demo</button>

            <div class="h-spacer20"></div>

            <div class="row">
                <table id="results_tbl" style="width:100%; text-align: left;">
                    <thead class="bgblack">
                        <tr>
                            <th scope="col">Movie Name</th>
                            <th scope="col">Year</th>
                            <th scope="col">Rank</th>
                            <th scope="col">Genre</th>
                            <th scope="col">Director</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td class="btn_col"><button class="btn_modal_edit">EDIT</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- MODAL ADD NEW MOVIE-->
    <div id="modal_add" class="w3-modal">
        <div class="w3-modal-content small w3-animate-top w3-card-4">
            <header class="w3-container bgblack"> 
                <span id="span_modal_add" class="w3-button w3-display-topright">&times;</span>
                <h2 style="margin-bottom: 15px;">Add New Movie</h2>
            </header>
            <div class="w3-container">
                <div class="row"><span class="inputlabel">Movie Name</span>
                    <input id="add_name" style="margin:3px;" type="text"></div>
                <div class="row"><span class="inputlabel">Year</span>
                    <input id="add_year" style="margin:3px;" type="text"></div>
                <div class="row"><span class="inputlabel">Rank</span>
                    <input id="add_rank" style="margin:3px;" type="text"></div>
                <div class="row"><span class="inputlabel">Genre</span>
                    <input id="add_genre" style="margin:3px;" type="text"></div>
                <div class="row"><span class="inputlabel">Director</span>
                    <input id="add_director" style="margin:3px;" type="text"></div>
            </div>
            <footer class="w3-container bgblack" style="padding-top: 10px;padding-bottom: 10px;">
                <button id="btn_modal_add_movie">Add</button>
            </footer>
        </div>
    </div>

    <!-- MODAL GENERATE REPORT-->
    <div id="modal_report" class="w3-modal">
        <div class="w3-modal-content medium w3-animate-top w3-card-4">
            <header class="w3-container bgblack"> 
                <span id="span_modal_report" class="w3-button w3-display-topright">&times;</span>
                <h2 style="margin-bottom: 15px;">Data Report</h2>
            </header>
            <div class="w3-container">
                <div class="row"><span class="reportlabel" id="report_lab1">Total Number of Movies</span>
                    <span id="report_res1">[RESULT]</span></div>
                <div class="row"><span class="reportlabel" id="report_lab2">Number of [GENRE] Movies in [YEAR]</span>
                    <span id="report_res2">[RESULT]</span></div>
                <div class="row"><span class="reportlabel" id="report_lab3">Number of [GENRE] Movies in [YEAR] by [DIRECTOR]</span>
                    <span id="report_res3">[RESULT]</span></div>
            </div>
        </div>
    </div>

    <!-- MODAL VIEW AND EDIT -->
    <div id="modal_edit" class="w3-modal">
        <div class="w3-modal-content small w3-animate-top w3-card-4">
            <header class="w3-container bgblack"> 
                <span id="span_modal_edit" class="w3-button w3-display-topright">&times;</span>
                <h2 style="margin-bottom: 15px;">Edit Data</h2>
            </header>
            <div class="w3-container">
                <div class="row"><span class="inputlabel">Movie Name</span>
                    <input id="update_name" style="margin:3px;" type="text" value="Loading..."></div>
                <div class="row"><span class="inputlabel" value="name">Year</span>
                    <input disabled id="update_year" style="margin:3px;" type="text" value="Loading..."></div>
                <div class="row"><span class="inputlabel">Rank</span>
                    <input id="update_rank" style="margin:3px;" type="text" value="Loading..."></div>
                <div class="row"><span class="inputlabel">Genre</span>
                    <input id="update_genre" style="margin:3px;" type="text" value="Loading..."></div>
                <div class="row"><span class="inputlabel">Director</span>
                    <input id="update_director" style="margin:3px;" type="text" value="Loading..."></div>
            </div>
            <footer class="w3-container bgblack" style="padding-top: 10px;padding-bottom: 10px;">
                <button id="btn_modal_update_movie">Save Changes</button>
            </footer>
        </div>
    </div>

        <!-- MODAL SHOW DEMO RESULTS -->
    <div id="modal_demo" class="w3-modal">
        <div class="w3-modal-content large w3-animate-top w3-card-4">
            <header class="w3-container bgblack"> 
                <span id="span_modal_demo" class="w3-button w3-display-topright">&times;</span>
                <h2 style="margin-bottom: 15px;">Demo Logs</h2>
            </header>
            <div class="w3-container" style="display: flex; flex-flow: column;row-gap: 10px; width:100%; height: 100%;">
                <textarea id="txt_demo1" style="max-width: 100%; resize:none; scroll-behavior: smooth;" rows="10">
                    asd
                </textarea>
                <textarea id="txt_demo2" style="max-width: 100%; resize:none; scroll-behavior: smooth;"rows="15">
                    asd
                </textarea>
                <textarea id="txt_demo3" style="max-width: 100%; resize:none; scroll-behavior: smooth;"rows="20">
                    asd
                </textarea>
            </div>
        </div>
    </div>
    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/index.js"></script>
</body>
</html>