h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-weight: bold;
    line-height: 20px;
}

body{
    background-color: #dbdbdb;
    font-size: 18px;
}

.bgblack{
    background-color: #1f1f1f;
    color: #ffffff;
}

table {
    border-collapse:collapse;
    border: 1px solid black;
}

th{
    padding: 3px;
    color: #ffffff;
}

td{
    padding: 3px;
    border: 1px solid black;
}

body, button, select, input{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn_col{
    width: 50px;
}

button{
    border-radius: 5px;
    font-weight: bold;
}

.w3-modal-content.small {
    width: 500px;
}

.w3-modal-content.medium {
    width: 650px;
}

.container-primary {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: row wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    align-items: center;
}

.row {
    display: block;
    flex: 1;
}

.inputlabel{
    width: 100px;
    display: inline-block;
}

.w3-container .row input{
    width: 350px;
}

.h-spacer20{
    height: 20px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 0.3s ease-in-out;
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 